<!-- <h2>Javascript Code</h2>

<form method="post" action="/javascript-script" enctype="multipart/form-data">
    <div class="input-group">
        <input name="image" type="file" class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <input type="submit" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"></input>
    </div>
</form> -->

<h2>Select an image file</h2>

<form method="post" action="/python-script" enctype="multipart/form-data">
    <div class="input-group">
        <input name="image" type="file" class="form-control"  aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <input type="submit" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"></input>
    </div>
</form>